<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Management</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Product" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Product </span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Category </span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Index">
                        <i class="bi bi-circle"></i><span>User</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Order" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Order</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Customer" asp-controller="Account" asp-action="Logout">
                <i class="ri-logout-circle-line"></i>
                <span>Log-Out</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Customer" asp-controller="Home" asp-action="Index">
                <i class="bi bi-arrow-return-left"></i>
                <span>Go to home</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->