
<form hidden id="page-form" asp-action="Index" method="get">
    <input id="page-index" name="pageNumber" />
</form>

<script>
        $('#pagination').jqPaginator({
            totalPages: @Model.TotalPages,
            visiblePages: 3,
            currentPage: @Model.PageIndex,
            prev: '<li class="page-item"><a class="page-link" href="javascript:;">‹</a></li>',
            next: '<li class="page-item"><a class="page-link" href="javascript:;">›</a></li>',
            page: '<li class="page-item"><a class="page-link" href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num) {
                if (this.currentPage != num) {
                    $('#page-index').val(num),
                        $('#page-form').submit()
                }
            }
        });
</script>
