<section class="slider_section mb-170">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider_swiper swiper-container">
                    <div class="swiper-wrapper pb-4">
                        <div class="single_slider swiper-slide d-flex align-items-center">
                            <div class="slider_text">
                                <h2>Make your Home Feel <br> Comfortable</h2>
                                <div class="slider_text_shape">
                                    <img src="assets/img/slider/slider-text-shape.png" alt="">
                                    <div class="slider_btn">
                                        <a class="btn btn-link" href="shop-left-sidebar.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider_thumb">
                                <img src="~/assets/img/slider/gm1000-nangcapdochoi_phimco.jpg"
                                     alt="">
                            </div>
                        </div>
                        <div class="single_slider swiper-slide d-flex align-items-center">
                            <div class="slider_text">
                                <h2>Make your Home Feel Comfortable</h2>
                                <div class="slider_text_shape">
                                    <img src="~/assets/img/slider/cdn.vectorstock.com_i_1000x1000_20_15_banner-design-of-gaming-mouse-vector-45132015.webp.png" alt="">
                                    <div class="slider_btn">
                                        <a class="btn btn-link" href="shop-left-sidebar.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slider_thumb">
                                <img src="~/assets/img/slider/banner.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>
    </div>
</section>