<!-- footer section start -->
<footer class="footer_section footer_style2 footer_bg2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_footer d-flex justify-content-center">
                    <div class="footer_widget_list">
                        <div class="footer_widget_title">
                            <h3>COMPANY</h3>
                        </div>
                        <div class="footer_menu">
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Licenses</a>
                                </li>
                                <li>
                                    <a href="#">Market API</a>
                                </li>
                                <li>
                                    <a href="#">Site Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer_widget_list">
                        <div class="footer_widget_title">
                            <h3>MORE FROM US</h3>
                        </div>
                        <div class="footer_menu">
                            <ul>
                                <li>
                                    <a href="#">Mobile and Layout Apps</a>
                                </li>
                                <li>
                                    <a href="#">Marketplace</a>
                                </li>
                                <li>
                                    <a href="#">About Vendors</a>
                                </li>
                                <li>
                                    <a href="#">Gift Vouchers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_widget_list">
                        <div class="footer_widget_title">
                            <h3>Userful Links</h3>
                        </div>
                        <div class="footer_menu">
                            <ul>
                                <li>
                                    <a href="#">The Collections</a>
                                </li>
                                <li>
                                    <a href="#">Size Guide</a>
                                </li>
                                <li>
                                    <a href="#">Fashion Inspiration</a>
                                </li>
                                <li>
                                    <a href="#">Look Book</a>
                                </li>
                                <li>
                                    <a href="#">Instagram Shop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_widget_list">
                        <div class="footer_widget_title">
                            <h3>Sing up for newsletter</h3>
                        </div>
                        <div class="newsletter_subscribe newsletter_style2">
                            <form id="mc-form">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Email address... ">
                                <button id="mc-submit">Subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                        <div class="footer_social">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-social-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom footer_bottom2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright_right text-center">
                        <p>&copy; 2021 All rights reserved Made with <i class="ion-heart"></i> by <a href="https://www.facebook.com/le.pool.75/">Will</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->