<!-- shipping area start -->
<section class="shipping_section mb-105">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shipping_inner d-flex justify-content-between">
                    <div class="single_shipping">
                        <div class="shipping_title d-flex align-items-center wow fadeInUp" data-wow-delay="0.1s"
                             data-wow-duration="1.1s">
                            <img src="assets/img/others/shipping1.png" alt="">
                            <h3>Many Choices</h3>
                        </div>
                        <div class="shipping_desc wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                            <p>Nulla Lorem mollit cupidatat irure. <br> Laborum magna nullamco c</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_title d-flex align-items-center wow fadeInUp" data-wow-delay="0.1s"
                             data-wow-duration="1.1s">
                            <img src="assets/img/others/shipping2.png" alt="">
                            <h3>Good Facilities</h3>
                        </div>
                        <div class="shipping_desc wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                            <p>Aliqua id fugiat nostrud irure ex <br> duis ea quis id quis ad et. </p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_title d-flex align-items-center wow fadeInUp" data-wow-delay="0.1s"
                             data-wow-duration="1.1s">
                            <img src="assets/img/others/shipping3.png" alt="">
                            <h3>Affordable Price</h3>
                        </div>
                        <div class="shipping_desc wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                            <p>Nulla Lorem mollit cupidatat irure. <br> Laborum magna nullamco c</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shipping area end -->
<!-- banner advice section start -->
<section class="modern_banner_section">
    <div class="container">
        <div class="banner_advice_inner">
            <div class="row">
                <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
                    <div class="modern_advice_text text-center">
                        <h3 class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">Modern Arm Chair</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deseru</p>
                        <a class="btn btn-link wow fadeInUp" href="shop-left-sidebar.html" data-wow-delay="0.3s" data-wow-duration="1.3s">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="banner_position_img2">
                <img src="~/assets/img/others/armchair2.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- banner advice section end -->
<!-- instagram area start -->
<section class="instagram_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="instagram_inner2 d-flex align-items-center justify-content-between">
                    <div class="instagram_text">
                        <h3 class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s"><span></span>Instagram</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">Nulla Lorem mollit cupidatat irure. <br> Laborum magna nulla duis </p>
                    </div>
                    <div class="instagram_gallery">
                        <div class="instagram_gallery_list d-flex">
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram5.png" alt=""></a>
                            </div>
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram6.png" alt=""></a>
                            </div>
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram7.png" alt=""></a>
                            </div>
                        </div>
                        <div class="instagram_gallery_list d-flex">
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram8.png" alt=""></a>
                            </div>
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram9.png" alt=""></a>
                            </div>
                            <div class="instagram_img">
                                <a href="#"><img src="~/assets/img/others/instagram10.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instagram area end -->