<div class="breadcrumbs_area breadcrumbs__bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <h2>Our Blog</h2>
                    <ul class="d-flex justify-content-center">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>></li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- blog page section start -->
<section class="blog_page_section">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="blog_list blog_list_bg">
                    <div class="single_blog_page d-flex align-items-center justify-content-between">
                        <div class="blog_page_content left">
                            <span class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">01-11-2021 / by John Snow</span>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                                <a href="blog-details.html">Any mechanical keyboard <br> enthusiasts in design?</a>
                            </h3>
                            <p class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Distinctio quia dolorem amet delectus eius.</p>
                            <a class="btn btn-link wow fadeInUp" href="blog-details.html" data-wow-delay="0.4s" data-wow-duration="1.4s">Read more</a>
                        </div>
                        <div class="blog_page_thumb">
                            <img src="~/assets/img/blog/chuot-gaming-khong-day-razer-naga-pro-rz01-03420100-r3a1-5da00afc-548e-4900-9e97-a81a791fd0eb.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="blog_list">
                    <div class="single_blog_page d-flex align-items-center justify-content-start">
                        <div class="blog_page_thumb">
                            <img src="~/assets/img/blog/ban-phim-co-razer-huntsman-v2-pubg-battlegrounds-edition-razer-linear-optical-rz03-03932300-r3m1.webp"/>
                        </div>
                        <div class="blog_page_content right">
                            <span class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">01-11-2021 / by John Snow</span>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                                <a href="blog-details.html">The More Important the Work, <br> the More Important the Rest</a>
                            </h3>
                            <p class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Distinctio quia dolorem amet delectus eius.</p>
                            <a class="btn btn-link wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.4s" href="blog-details.html">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="blog_list blog_list_bg">
                    <div class="single_blog_page d-flex align-items-center justify-content-between">
                        <div class="blog_page_content left">
                            <span class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">01-11-2021 / by John Snow</span>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                                <a href="blog-details.html">Any mechanical keyboard <br> enthusiasts in design?</a>
                            </h3>
                            <p class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Distinctio quia dolorem amet delectus eius.</p>
                            <a class="btn btn-link wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.4s" href="blog-details.html">Read more</a>
                        </div>
                        <div class="blog_page_thumb">
                            <img src="~/assets/img/blog/cougar_2101a66491414b49a99fcd1e4e0421ad_master.webp"/>
                        </div>
                    </div>
                </div>
                <div class="blog_list">
                    <div class="single_blog_page d-flex align-items-center justify-content-start">
                        <div class="blog_page_thumb">
                            <img src="~/assets/img/blog/lg-gram-style-fix_4013ad0ecc9c449f9611fb4f31069a92_master.webp"/>
                        </div>
                        <div class="blog_page_content right">
                            <span class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">01-11-2021 / by John Snow</span>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                                <a href="blog-details.html">How to design a product that can <br> grow itself 10x in year:</a>
                            </h3>
                            <p class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Distinctio quia dolorem amet delectus eius.</p>
                            <a class="btn btn-link wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.4s" href="blog-details.html">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>