<!-- contact section start -->
<section class="contact_page_section">
    <!--contact map start-->
    <div class="contact_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.5847248662767!2d109.21657047431678!3d13.803889596086965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6bf778c80973%3A0x8a7d0b5aa0af29c7!2zxJDhuqFpIGjhu41jIEZQVCBRdXkgTmjGoW4!5e0!3m2!1svi!2s!4v1696306539040!5m2!1svi!2s" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!--contact map end-->
    <div class="contact_page_details">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact_info">
                        <div class="contact_info_title">
                            <h3 class="wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                                Write Us, call us or <br>
                                drop by our office at:
                            </h3>
                        </div>
                        <div class="contact_info_inner d-flex justify-content-between">
                            <div class="contact_info_list wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                                <span>United States</span>
                                <p>3891 Ranchview Dr. Richardson, <br> California 62639</p>
                                <p>Phone: <a href="tel:657/4872-51475">657/4872-51475</a> </p>
                                <p><a href="#">lekker@hastheme.com</a></p>
                            </div>
                            <div class="contact_info_list wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
                                <span>Tokyo</span>
                                <p>3-6 Ginza, Chuo City,</p>
                                <p>Phone: <a href="tel:657/4872-51475">657/4872-51475</a> </p>
                                <p><a href="#">lekker@hastheme.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact_form wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                        <form id="contact-form" method="POST" action="assets/mail.php">
                            <div class="form_input_inner d-flex">
                                <div class="form_input">
                                    <input name="name" class="border-0" placeholder="Fullname" type="text">
                                </div>
                                <div class="form_input">
                                    <input name="email" class="border-0" placeholder="Email address" type="text">
                                </div>
                            </div>
                            <div class="form_textarea">
                                <textarea name="message" class="border-0" placeholder="Write us a message..."></textarea>
                            </div>
                            <div class="form_input_btn">
                                <button class="btn btn-link">Send message</button>
                            </div>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- contact section end -->