@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Not Found 404</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="img/icon/404-error.png" rel="icon">
    <link rel="stylesheet" href="~/css/page404.css" asp-append-version="true"/>

</head>

<body>

<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
    <p class="output">Please try to <a asp-action="Index">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
</div>

</body>

</html>